---
title: Pricing
heading: Frequently Asked Questions
description: Everything you need to know about the simple church planner.
faq:
  - question: Who is making this?
    answer: My name is Ryan Hayden, I'm a pastor who makes extra money <a href="http://simplechurchtools.com">making websites and custom programs for pastors.</a>
  - question: How does billing work?
    answer: I will send you an invoice from Freshbooks by email.  In the invoice you can setup recurring and automatic billing.  <strong>Invoices must be paid using a credit or debit card. No checks.</strong> 
  - question: How long does it take?
    answer: When you sign up, I will send you a document you will fill out with all of your church's information, once I have everything I need, it rarely takes more than a couple of days to get a website up and running.
  - question: What if I want to add [Fill In The Blank]?
    answer: Church websites come with easy ways to add sermons, calendar, photo gallery, beliefs, ministries, leadership, etc. as well as easy ways to add general about us pages.  If you want something different (like a store or special content category) I can definitely make it, but I'm going to charge my normal rate ($50 an hour with a one hour minimum) for my time.
  - question: What if I need support?
    answer: You will have both my email and my phone number.  Because I built these themes from scratch, I can usually fix things very quickly.  Support is included in the price.
  - question: Are you hiring?
    answer: If you are a web developer and want to work with me, please contact me and let me know.
---

{% if page.faq %}
  <dl class="faq">
    {% for item in page.faq %}
      <div>
        <dt>{{ item.question }}</dt>
        <dd>{{ item.answer }}</dd>
      </div>
    {% endfor %}
  </dl>
{% endif %}


